.test-editor {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

	&__title {
		padding-bottom: 15px;
	}
}

.question-block {
	margin-bottom: 30px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	position: relative;

	&__title {
		padding-bottom: 15px;
	}

	&__open-btn {
		position: absolute;
		top: 55px;
		right: 87px;

		background: none;
		border: none;
		cursor: pointer;
		padding: 5px;

		&:focus {
			outline: none;
		}

		&--collapsed {
			top: 20px;
		}
	}
}

.question-input {
	width: 90%;
	padding: 8px;
	margin-bottom: 15px;
	font-size: 16px;
}

.question-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.answer-block {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;

	.answer-input {
		flex-grow: 1;
		min-height: 50px;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		resize: vertical;
	}

	.answer-actions {
		display: flex;
		flex-direction: column;
		gap: 5px;

		button {
			background: none;
			border: none;
			cursor: pointer;
			padding: 5px;
			border-radius: 4px;
			transition: background-color 0.2s;

			&:hover {
				background-color: #f0f0f0;
			}
		}

		.correct-answer-btn {
			&.active {
				background-color: #e0ffe0;

				img {
					filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
				}
			}
		}

		.delete-answer-btn {
			&:hover {
				background-color: #ffe0e0;
			}

			img {
				filter: invert(25%) sepia(98%) saturate(7463%) hue-rotate(356deg) brightness(95%) contrast(118%);
			}
		}
	}
}

.add-answer-btn {
	background-color: #4caf50;
	color: white;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.back-btn,
.save-btn {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.back-btn {
	background-color: #f44336;
	color: white;
}

.save-btn {
	background-color: #2196f3;
	color: white;
}
